.chartBox {
  width: 400px;
  margin: 20px;
  padding: 20px;
  border-radius: 20px;
  background: #ffffff;
}

.relative {
  position: center;
}

.absolute-center {
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
}

.relative-center {
  position: relative;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
}

.text-center{
  text-align: center;
}

.large-font{
  font-size: 3rem;
}

.center-align {
  margin-left: auto;
  margin-right: auto;
  width: 60%;
  /*border: 3px solid green;*/
  padding: 10px;
}

p {
  font-size: 1.5rem;
}

